<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Escuela</title>
  </head>
  <body>
    <main class="container">
      <header>
        <h1 class="text-center">Sistema de Escuela</h1>
      </header>
      <nav>
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/students">Estudiantes</a></li>

        </ul>
      </nav>
      <section class="content">
        {{{body}}}
      </section>
      <footer class="text-center">
        <p>&copy; 2023 Escuela</p>
      </footer>
    </main>
  </body>
</html>